@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body{
    font-family: 'Merienda One', cursive;
    background-image: url("/images/phife.jpg");
    display: block;
    margin: 1rem;
    padding: 1rem;
    
}

h1{
    text-align: center;
}


textarea{
    width: 80%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6rem;
    font-family: 'Merienda One', cursive;

}

#btn-translate{
    padding: 1rem;   
    margin: 1rem;
    border: 2px solid black;
    border-radius: 6rem;
    font-family: 'Merienda One', cursive;
    

}


#output{
    border: 1px solid black;
    border-radius: 6rem;
    width: 80%;
    height: 10vh;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
}

div{
    padding: 1rem;
    text-align: center;
   
}

#last{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    color: black;

}

::placeholder{
    text-align: center;
}


